/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	 background: #04121B url('images/background.jpg') repeat-x;
	font-family: verdana;
}

h1 
{
	background:url('images/logo.png') no-repeat;
	width: 374px;
	height: 164px;
	margin: 0 auto;
	padding: 0 0 0 30px;
	text-align: center;
	z-index: 0;
	text-indent: -1000em;
}

div.content {
	margin: 35px auto;
	width: 690px;
}

div#music_player 
{
	clear: both;
	margin: 10px 10px 0 10px;
	width: 660px;
	padding: 0 10px 10px 0;
	visibility: hidden;
}
	div#music_player h2 {
		color: #FFF;
		text-align: center;
	}
	div#music_player .audiojs {
		width: 500px;
		margin: 10px auto;
	}
#songs_2011 h4 {
	color: #000;
}
div.songs 
{
	background: #348733;
	border: solid 1px #555;
	margin: 10px 10px 10px 10px;
	width: 300px;
	float: left;
	padding: 6px;
}

h2,h4 { font-family: tahoma;}

h4 {
	font-size: 16pt;
}

h2 {
	font-size: 20pt;
}

div.songs h4 
{
	color: #333;
	text-align: center;
	font-weight: bold;
}
	div.songs li a 
	{
		background: rgba(199, 4, 4, .2);
		cursor: pointer;
		color: #FFF;			
		margin: 8px 10px;
		padding: 9px;
		display: block;
		font-weight: bold;
		font-size: 12px;
	}
	div.songs li a:hover {
		background:  rgba(199, 4, 4, .4);
	}
	div.songs li a.playing
	{
		background: rgb(199,4,4)
	}
		